<body id="blog">
{{> blog-aside}} 

  <main id="post">
    <div class="grid content">
      <div class="text">

        <img src="{{image}}" alt="">
        <div class="content">
          <h1 class="title">{{title}}</h1>
          <h5 class="date">{{date published_at format=" DD/MMM/YYYY"}}</h5>
          <div class="text">
            {{content}}            
          </div>

        </div>
  

        

      </div>
      <div class="footer">
        <div class="img">
        </div>
        <div class="author-details">
          <div class="content">
            <h4 class="name">{{author}}</h4>
            <p class="small description hide-for-700-up">{{author.bio words="15"}}</p>
            <p class="description show-for-700-up">{{author.bio}}</p>
            <div class="more small"><a href="">more</a> </div>
          </div>
        </div>
      </div>
      <div id="disqus_thread">
        <a href=""></a>
      </div>
    </div>
    </div>

  </main>
  
</body>