<head>
	<meta charset="UTF-8">
	<title>Feliganesh</title>

	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="{{asset "stylesheets/normalize.css"}}" rel="stylesheet">
	<link href="{{asset "stylesheets/bundle.css"}}" rel="stylesheet">

	<!-- Routing -->
 	<script type="text/javascript" src="{{asset "vendors/angular/angular.min.js"}}"></script>
	<script type="text/javascript" src="{{asset "vendors/angular-route/angular-route.min.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/script.js"}}"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	
	<!--Blog Script - Masonry (flexible layout)-->
	<script type="text/javascript" src="{{asset "vendors/masonry/imagesloaded.pkgd.js"}}"></script>
	<script type="text/javascript" src="{{asset "components/masonry/masonry.js"}}"></script>
	<script type="text/javascript" src="{{asset "vendors/masonry/masonry.pkgd.js"}}"></script>


	<!--Animation (animejs)-->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/animejs/1.0.0/anime.min.js"></script>

	<link href="{{asset "vendors/font-awesome/css/font-awesome.min.css"}}" rel="stylesheet">
</head>
