               
<div class="item {{#if featured}}big{{/if}}" >
    <a href="{{url}}">
        <img src="{{image}}" >
        <div class="text">
            <h3 class="title">{{title}}</h3>
            <span class="author small">by {{author.name}}</span>
            <p class="content">                    
                {{ excerpt words=this.words }}
            </p>
            <div class="bar">
                <span class="heart">
                3 <span class="fa fa-heart"></span>
                </span>
                <span class="comment">
                10 <span class="fa fa-comment"></span>
                </span>
            </div>
        </div>
    </a>
</div>
 