<!DOCTYPE html>
<html>
  {{> head}}
  <body ng-app="ganesh">
  	{{> introduction/introduction}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{asset "vendors/sparkle.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/script.js"}}"></script>
    <script type="text/javascript" src="{{asset "vendors/angular/angular.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "vendors/angular-route/angular-route.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "vendors/trianglify/trianglify.js"}}"></script>
    <script type="text/javascript" src="{{asset "components/trianglify/trianglify.js"}}"></script>
    <script type="text/javascript" src="{{asset "vendors/masonry/imagesloaded.pkgd.js"}}"></script>
    <script type="text/javascript" src="{{asset "vendors/masonry/masonry.pkgd.js"}}"></script>
    <script type="text/javascript" src="{{asset "components/panel/panel.js"}}"></script>
    <script type="text/javascript" src="{{asset "components/menu/menu.js"}}"></script>
    <script type="text/javascript" src="{{asset "components/head/head.js"}}"></script>
    <script type="text/javascript" src="{{asset "components/pages/introduction/introductionEffects.js"}}"></script>
    <script type="text/javascript" src="{{asset "components/script.js"}}"></script>
  </body>
</html>